
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" translate="coreApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="article.id" readonly>
        </div>

        <div class="form-group">
            <label translate="coreApp.article.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="article.code"
                    required>

            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="article.name"
                    required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="article.description"
                    required>

            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="article.price"
                    required>

            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.deliveryCosts" for="field_deliveryCosts">DeliveryCosts</label>
            <input type="number" class="form-control" name="deliveryCosts" id="field_deliveryCosts"
                    ng-model="article.deliveryCosts"
                    required>

            <div ng-show="editForm.deliveryCosts.$invalid">
                <p class="help-block"
                    ng-show="editForm.deliveryCosts.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.deliveryCosts.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.currency" for="field_currency">Currency</label>
            <select class="form-control" name="currency" ng-model="article.currency" id="field_currency" required>
                <option value="EUR" translate="coreApp.Currency.EUR">EUR</option>
                <option value="GBP" translate="coreApp.Currency.GBP">GBP</option>
                <option value="USD" translate="coreApp.Currency.USD">USD</option>
                <option value="CHF" translate="coreApp.Currency.CHF">CHF</option>
            </select>

            <div ng-show="editForm.currency.$invalid">
                <p class="help-block"
                    ng-show="editForm.currency.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
