
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArticleLabel" translate="coreApp.article.home.createOrEditLabel">Create or edit a Article</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="article.id" readonly>
        </div>

        <div class="form-group">
            <label translate="coreApp.article.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="article.code"
                    required>

            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="article.name"
                    required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="article.description"
                    required>

            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="article.price"
                    required>

            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.deliveryCosts" for="field_deliveryCosts">DeliveryCosts</label>
            <input type="number" class="form-control" name="deliveryCosts" id="field_deliveryCosts"
                    ng-model="article.deliveryCosts"
                    required>

            <div ng-show="editForm.deliveryCosts.$invalid">
                <p class="help-block"
                    ng-show="editForm.deliveryCosts.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.deliveryCosts.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.article.currency" for="field_currency">Currency</label>
            <select class="form-control" name="currency" ng-model="article.currency" id="field_currency" required>
                <option value="EUR" translate="coreApp.Currency.EUR">EUR</option>
                <option value="GBP" translate="coreApp.Currency.GBP">GBP</option>
                <option value="USD" translate="coreApp.Currency.USD">USD</option>
                <option value="CHF" translate="coreApp.Currency.CHF">CHF</option>
            </select>

            <div ng-show="editForm.currency.$invalid">
                <p class="help-block"
                    ng-show="editForm.currency.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setImage1($files, article)" ngf-accept="'image/*'">
            <label translate="coreApp.article.image1" for="field_image1">Image1</label>
            <div>
                <img data-ng-src="{{'data:image/*;base64,' + article.image1}}" style="max-height: 100px;" ng-if="article.image1"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{byteSize(article.image1)}}</span>
                    <button ng-click="article.image1=null"
                            ng-if="article.image1"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setImage1($files, article)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image1" id="field_image1"
                    ng-model="article.image1"
                    required minbytes="1000" maxbytes="2500000">

            <div ng-show="editForm.image1.$invalid">
                <p class="help-block"
                    ng-show="editForm.image1.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.image1.$error.minbytes" translate="entity.validation.minbytes" translate-value-min="1000">
                    This field should be more than 1000.
                </p>
                <p class="help-block"
                   ng-show="editForm.image1.$error.maxbytes" translate="entity.validation.maxbytes" translate-value-max="2500000">
                    This field cannot be more than 2500000.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="setImage2($files, article)" ngf-accept="'image/*'">
            <label translate="coreApp.article.image2" for="field_image2">Image2</label>
            <div>
                <img data-ng-src="{{'data:image/*;base64,' + article.image2}}" style="max-height: 100px;" ng-if="article.image2"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{byteSize(article.image2)}}</span>
                    <button ng-click="article.image2=null"
                            ng-if="article.image2"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setImage2($files, article)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image2" id="field_image2"
                    ng-model="article.image2"
                    required minbytes="1000" maxbytes="2500000">

            <div ng-show="editForm.image2.$invalid">
                <p class="help-block"
                    ng-show="editForm.image2.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.image2.$error.minbytes" translate="entity.validation.minbytes" translate-value-min="1000">
                    This field should be more than 1000.
                </p>
                <p class="help-block"
                   ng-show="editForm.image2.$error.maxbytes" translate="entity.validation.maxbytes" translate-value-max="2500000">
                    This field cannot be more than 2500000.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
