<div>

    <jh-alert></jh-alert>

    <!-- TESTING CODE - STARTS HERE -->
    <!-- This code is for testing only - should not go into production -->
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" ui-sref="customerOrder.new">
                <span class="glyphicon glyphicon-flash"></span> <span translate="coreApp.customerOrder.home.createLabel">Place New Order</span>
            </button>
        </div>
    </div>
    <br/>
    <!-- TESTING CODE - ENDS HERE -->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 translate="coreApp.customerOrder.home.title">Orders</h3>
        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="global.field.id">ID</th>
                        <th translate="coreApp.customerOrder.list.placedOn">Date</th>
                        <th translate="coreApp.customerOrder.list.customer">Customer</th>
                        <th translate="coreApp.customerOrder.list.orderStatus">Order Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="customerOrder in customerOrders">
                        <td><a ui-sref="customerOrder.detail({id:customerOrder.id})">{{customerOrder.id}}</a></td>
                        <td><span ng-bind="customerOrder.placedOn | date:'EEEE dd/MM/yyyy HH:mm:ss'"/></td>
                        <td>{{getCustomerName(customerOrder.customerId)}}</td>
                        <td>{{customerOrder.orderStatus}}</td>
                        <td ng-switch="customerOrder.orderStatus">
                            <button type="submit"
                                    ng-switch-when="Created"
                                    ui-sref="customerOrder.fulfill({id:customerOrder.id})"
                                    class="btn btn-primary btn-sm">
                                <span translate="coreApp.customerOrder.list.btnFulfilled">Set order fulfilled</span>
                            </button>
                            <button type="submit"
                                    ng-switch-when="Fulfilled"
                                    ui-sref="customerOrder.return({id:customerOrder.id})"
                                    class="btn btn-primary btn-sm">
                                <span translate="coreApp.customerOrder.list.btnReturned">Set order returned</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                        <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                        <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                        <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                        <li class="active"><a>{{page}}</a></li>
                        <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                        <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                        <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                        <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</div>
