<div>

    <h2 translate="schubberApp.channel.home.title">Channel</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveChannelModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="schubberApp.channel.home.createLabel">Create a new Channel</span>
    </button>
    <div class="modal fade" id="saveChannelModal" tabindex="-1" role="dialog" aria-labelledby="myChannelLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myChannelLabel" translate="schubberApp.channel.home.createOrEditLabel">Create or edit a Channel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="channel.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="schubberApp.channel.type">Type</label>
                            <input type="text" class="form-control"
                                   ng-model="channel.type">
                        </div>
                        <div class="form-group">
                            <label translate="schubberApp.channel.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="channel.name">
                        </div>
                        <div class="form-group">
                            <label translate="schubberApp.channel.token">Token</label>
                            <input type="text" class="form-control"
                                   ng-model="channel.token">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteChannelConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(channel.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="schubberApp.channel.delete.question" translate-values="{id: '{{channel.id}}'}">Are you sure you want to delete Channel {{channel.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="schubberApp.channel.type">Type</th>
                    <th translate="schubberApp.channel.name">Name</th>
                    <th translate="schubberApp.channel.token">Token</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="channel in channels">
                    <td><a ui-sref="channelDetail({id:channel.id})">{{channel.id}}</a></td>
                    <td>{{channel.type}}</td>
                    <td>{{channel.name}}</td>
                    <td>{{channel.token}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="channelDetail({id:channel.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(channel.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(channel.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
