<div>

    <h2 translate="mightymerceApp.socialOrder.home.title">SocialOrder</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveSocialOrderModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="mightymerceApp.socialOrder.home.createLabel">Create a new SocialOrder</span>
    </button>
    <div class="modal fade" id="saveSocialOrderModal" tabindex="-1" role="dialog" aria-labelledby="mySocialOrderLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySocialOrderLabel" translate="mightymerceApp.socialOrder.home.createOrEditLabel">Create or edit a SocialOrder</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="socialOrder.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="mightymerceApp.socialOrder.test">Test</label>
                            <input type="text" class="form-control" name="test"
                                   ng-model="socialOrder.test">

                        </div>
                        <div class="form-group">
                            <label translate="mightymerceApp.socialOrder.test2">Test2</label>
                            <input type="text" class="form-control" name="test2"
                                   ng-model="socialOrder.test2">

                        </div>

                        <div class="form-group">
                            <label translate="mightymerceApp.socialOrder.user">user</label>
                            <select class="form-control" name="user" ng-model="socialOrder.user.id" ng-options="user.id as user.name for user in users">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSocialOrderConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(socialOrder.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mightymerceApp.socialOrder.delete.question" translate-values="{id: '{{socialOrder.id}}'}">Are you sure you want to delete this SocialOrder?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="mightymerceApp.socialOrder.test">Test</th>
                    <th translate="mightymerceApp.socialOrder.test2">Test2</th>
                    <th translate="mightymerceApp.socialOrder.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="socialOrder in socialOrders">
                    <td><a ui-sref="socialOrderDetail({id:socialOrder.id})">{{socialOrder.id}}</a></td>
                    <td>{{socialOrder.test}}</td>
                    <td>{{socialOrder.test2}}</td>
                    <td>{{socialOrder.user.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="socialOrderDetail({id:socialOrder.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(socialOrder.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(socialOrder.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
