<div>

    <h2 translate="mightymerceApp.channelPost.home.title">ChannelPost</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveChannelPostModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="mightymerceApp.channelPost.home.createLabel">Create a new ChannelPost</span>
    </button>
    <div class="modal fade" id="saveChannelPostModal" tabindex="-1" role="dialog" aria-labelledby="myChannelPostLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myChannelPostLabel" translate="mightymerceApp.channelPost.home.createOrEditLabel">Create or edit a ChannelPost</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="channelPost.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="mightymerceApp.channelPost.status">Status</label>
                            <input type="text" class="form-control" name="status"
                                   ng-model="channelPost.status">

                            <div ng-show="editForm.status.$invalid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="mightymerceApp.channelPost.article">article</label>
                            <select class="form-control" name="article" ng-model="channelPost.article.id" ng-options="article.id as article.articleId for article in articles">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="mightymerceApp.channelPost.customerChannel">customerChannel</label>
                            <select class="form-control" name="customerChannel" ng-model="channelPost.customerChannel.id" ng-options="customerChannel.id as customerChannel.name for customerChannel in customerchannels">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteChannelPostConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(channelPost.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mightymerceApp.channelPost.delete.question" translate-values="{id: '{{channelPost.id}}'}">Are you sure you want to delete this ChannelPost?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="mightymerceApp.channelPost.status">Status</th>
                    <th translate="mightymerceApp.channelPost.article">article</th>
                    <th translate="mightymerceApp.channelPost.customerChannel">customerChannel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="channelPost in channelPosts">
                    <td><a ui-sref="channelPostDetail({id:channelPost.id})">{{channelPost.id}}</a></td>
                    <td>{{channelPost.status}}</td>
                    <td>{{channelPost.article.articleId}}</td>
                    <td>{{channelPost.customerChannel.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="channelPostDetail({id:channelPost.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(channelPost.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(channelPost.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
