
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myChannelPostLabel" translate="coreApp.channelPost.home.createOrEditLabel">Create or edit a ChannelPost</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="channelPost.id" readonly>
        </div>

        <div class="form-group">
            <label translate="coreApp.channelPost.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="channelPost.status" id="field_status">
                <option value="Pending" translate="coreApp.PublicationStatus.Pending">Pending</option>
                <option value="Published" translate="coreApp.PublicationStatus.Published">Published</option>
                <option value="Error" translate="coreApp.PublicationStatus.Error">Error</option>
            </select>

        </div>
        <div class="form-group">
            <label translate="coreApp.channelPost.publicationDate" for="field_publicationDate">PublicationDate</label>
            <input type="datetime-local" class="form-control" name="publicationDate" id="field_publicationDate"
                    ng-model="channelPost.publicationDate" ng-model-options="{timezone: 'UTC'}"
                    >

        </div>
        <div class="form-group">
            <label translate="coreApp.channelPost.externalPostKey" for="field_externalPostKey">ExternalPostKey</label>
            <input type="text" class="form-control" name="externalPostKey" id="field_externalPostKey"
                    ng-model="channelPost.externalPostKey"
                    >

        </div>
        <div class="form-group">
            <label translate="coreApp.channelPost.user" for="field_user">user</label>
            
            <select class="form-control" id="field_user" name="user" ng-model="channelPost.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="coreApp.channelPost.merchantChannel" for="field_merchantChannel">merchantChannel</label>
            
            <select class="form-control" id="field_merchantChannel" name="merchantChannel" ng-model="channelPost.merchantChannel" ng-options="merchantChannel as merchantChannel.channel for merchantChannel in merchantchannels track by merchantChannel.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="coreApp.channelPost.product" for="field_product">product</label>
            
            <select class="form-control" id="field_product" name="product" ng-model="channelPost.product" ng-options="product as product.id for product in products track by product.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
