<div>

    <h2 translate="mightymerceApp.merchantChannel.home.title">MerchantChannel</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveMerchantChannelModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="mightymerceApp.merchantChannel.home.createLabel">Create a new MerchantChannel</span>
    </button>
    <div class="modal fade" id="saveMerchantChannelModal" tabindex="-1" role="dialog" aria-labelledby="myMerchantChannelLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myMerchantChannelLabel" translate="mightymerceApp.merchantChannel.home.createOrEditLabel">Create or edit a MerchantChannel</h4>
                        <fb:login-button scope="public_profile,email,publish_actions" auto_logout_link="true">
                         </fb:login-button>
                         <span>FacebookToken: {{facebookToken}}</span>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="merchantChannel.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="mightymerceApp.merchantChannel.accessToken">AccessToken</label>
                            <input type="text" class="form-control" name="accessToken"
                                   ng-model="merchantChannel.accessToken">

                            <div ng-show="editForm.accessToken.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="mightymerceApp.merchantChannel.name">Name</label>
                            <input type="text" class="form-control" name="name"
                                   ng-model="merchantChannel.name">

                            <div ng-show="editForm.name.$invalid">
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="mightymerceApp.merchantChannel.merchant">merchant</label>
                            <select class="form-control" name="merchant" ng-model="merchantChannel.merchant.id" ng-options="merchant.id as merchant.name for merchant in merchants">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="mightymerceApp.merchantChannel.channel">channel</label>
                            <select class="form-control" name="channel" ng-model="merchantChannel.channel.id" ng-options="channel.id as channel.name for channel in channels">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMerchantChannelConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(merchantChannel.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="mightymerceApp.merchantChannel.delete.question" translate-values="{id: '{{merchantChannel.id}}'}">Are you sure you want to delete this MerchantChannel?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="mightymerceApp.merchantChannel.accessToken">AccessToken</th>
                    <th translate="mightymerceApp.merchantChannel.name">Name</th>
                    <th translate="mightymerceApp.merchantChannel.merchant">merchant</th>
                    <th translate="mightymerceApp.merchantChannel.channel">channel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="merchantChannel in merchantChannels">
                    <td><a ui-sref="merchantChannelDetail({id:merchantChannel.id})">{{merchantChannel.id}}</a></td>
                    <td>{{merchantChannel.accessToken}}</td>
                    <td>{{merchantChannel.name}}</td>
                    <td>{{merchantChannel.merchant.name}}</td>
                    <td>{{merchantChannel.channel.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="merchantChannelDetail({id:merchantChannel.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(merchantChannel.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(merchantChannel.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pager">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a href="#">&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a href="#">&lt;</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a href="#">&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
