
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myLegalInfoLabel">{{legalInfo.title}}</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label translate="coreApp.legalInfo.pageTitle" for="field_pageTitle">Page Title*</label>
            <input type="text" class="form-control" name="pageTitle" id="field_pageTitle"
                    ng-model="legalInfo.pageTitle"
                    required ng-maxlength="50">

            <div ng-show="editForm.pageTitle.$invalid">
                <p class="help-block"
                    ng-show="editForm.pageTitle.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.pageTitle.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="coreApp.legalInfo.pageText" for="field_pageText">Copy*</label>
            <textarea class="form-control span12" name="pageText" id="field_pageText" ng-model="legalInfo.pageText" required rows="8"/>

            <div ng-show="editForm.pageText.$invalid">
                <p class="help-block"
                    ng-show="editForm.pageText.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
